@font-face {
  font-family: 'OSPDIN';
  src: url("OSP-DIN-webfont.eot");
  src: url("OSP-DIN-webfont.eot?#iefix") format("embedded-opentype"), url("OSP-DIN-webfont.woff") format("woff"), url("OSP-DIN-webfont.ttf") format("truetype"), url("OSP-DIN-webfont.svg#OSPDIN") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.hidden {
  display: none !important;
  visibility: hidden; }

.invisible,
.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px; }

.invisible.focusable:active,
.invisible.focusable:focus,
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto; }

body {
  font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  min-height: 768px;
  background: #092857 url('images/bg-mountains.jpg?1329186066') bottom center no-repeat;
  -moz-background-size: 100% 349px;
  -webkit-background-size: 100% 349px;
  -o-background-size: 100% 349px;
  background-size: 100% 349px;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  color: #787a64; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

a {
  color: #00a9a9;
  text-decoration: underline;
  padding: 0 0.1em;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

h1 {
  color: #454aa3;
  font-weight: bold;
  font-size: 2em;
  font-family: "OSPDIN", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  text-transform: uppercase; }

pre, code {
  font-family: Monaco, monospace, sans-serif; }

/* COMMON STEP STYLES */
.step {
  padding: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-size: 48px;
  line-height: 1.5; }

/* fade out inactive slides */
.step {
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.step:not(.active) {
  opacity: 0.3; }

/* Simple Slideshow Styles */
.simple-slideshow .step:not(.active) {
  opacity: 0; }

/* overview step */
#overview {
  z-index: -1;
  padding: 0; }

/* on overview step everything is visible */
#impress.step-overview .step {
  opacity: 1;
  cursor: pointer; }

/*
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */
.slide {
  display: block;
  width: 800px;
  height: 600px;
  padding: 40px 60px;
  background: white;
  font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  color: #787a64;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  -moz-box-shadow: 15px 15px 30px 1px black;
  -webkit-box-shadow: 15px 15px 30px 1px black;
  -o-box-shadow: 15px 15px 30px 1px black;
  box-shadow: 15px 15px 30px 1px black; }
  .slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 100px; }
    .slide q strong {
      white-space: nowrap; }
  .slide p {
    margin: 1.25em 0; }
  .slide h1 {
    line-height: 100%; }
  .slide ul, .slide p, .slide h2, .slide h3, .slide h4, .slide h5, .slide h6 {
    margin-top: 1em; }
  .slide li {
    margin: 0 0 0.5em; }

/* Drupalcon Denver 2012 Slide templates */
.drupalcon-intro {
  background-image: url('images/dc-denver2012.png?1329017942'), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, color-stop(1%, #0f397d), color-stop(30%, #082049));
  background-image: url('images/dc-denver2012.png?1329017942'), -webkit-radial-gradient(50% 50%, #0f397d 1%, #082049 30%);
  background-image: url('images/dc-denver2012.png?1329017942'), -moz-radial-gradient(50% 50%, #0f397d 1%, #082049 30%);
  background-image: url('images/dc-denver2012.png?1329017942'), -o-radial-gradient(50% 50%, #0f397d 1%, #082049 30%);
  background-image: url('images/dc-denver2012.png?1329017942'), -ms-radial-gradient(50% 50%, #0f397d 1%, #082049 30%);
  background-image: url('images/dc-denver2012.png?1329017942'), radial-gradient(50% 50%, #0f397d 1%, #082049 30%);
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px; }

.drupalcon-title {
  background-image: url('images/dc-denver2012-title-bg.png?1329017942');
  background-size: 1025px 768px;
  text-align: center;
  padding: 150px 90px 40px 90px;
  width: 1024px;
  height: 768px; }

/* IMPRESS NOT SUPPORTED STYLES */
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  display: none;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #E4C652;
  background: #EEDC94; }
  .fallback-message p {
    margin-bottom: 10px; }

.impress-not-supported .step {
  position: relative;
  opacity: 1;
  margin: 20px auto; }
.impress-not-supported .fallback-message {
  display: block; }

/* PRINT STYLES */
@media print {
  .step {
    page-break-after: always; } }
