@font-face {
    font-family: 'OSPDIN';
    src: url('OSP-DIN-webfont.eot');
    src: url('OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('OSP-DIN-webfont.woff') format('woff'),
         url('OSP-DIN-webfont.ttf') format('truetype'),
         url('OSP-DIN-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "partials/base";

body {
    font-family: $sans;

    min-height: 768px;

    @include background($bg image-url('bg-mountains.jpg') bottom center no-repeat);
    @include background-size(100% 349px);
    background-attachment: fixed;

    -webkit-font-smoothing: antialiased;

    color: $text;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: $softlight;
    text-decoration: underline;
    padding: 0 0.1em;

    @include transition-property(background);
    @include transition-duration(0.5s);
}

a:hover {
  
}

h1 {
  color: $highlight;
  font: {
    weight: bold;
    size: 2em;
    family: $headlines;
  }
  text-transform: uppercase;
}

pre, code {
  font-family: $mono;
}

/* COMMON STEP STYLES */

.step {
    padding: 40px;

    @include box-sizing(border-box);

    font-family: $sans;

    font-size: 48px;
    line-height: 1.5;
}

/* fade out inactive slides */

.step {
  @include transition-duration(1s);
}

.step:not(.active) {
  opacity: 0.3;
}

/* Simple Slideshow Styles */

.simple-slideshow .step:not(.active) {
  opacity: 0;
}

/* overview step */

#overview {
    z-index: -1;
    padding: 0;
}

/* on overview step everything is visible */

#impress.step-overview .step {
    opacity: 1;
    cursor: pointer;
}

/*
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */

.slide {
  display: block;

  width: 800px;
  height: 600px;
  
  padding: 40px 60px;

  background: $base;

  font-family: $sans;

  color: $text;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

  font-size: 30px;
  line-height: 36px;

  letter-spacing: -1px;

  @include single-box-shadow($black, 15px, 15px, 30px, 1px);

  q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;

    strong {
      white-space: nowrap;
    }
  }

  p {
    margin: 1.25em 0;
  }

  h1 {
    line-height: 100%;
  }

  ul, p, h2, h3, h4, h5, h6 {
     margin-top: 1em;
  }

  li {
    margin: 0 0 0.5em;
  }
}

/* Drupalcon Denver 2012 Slide templates */
.drupalcon-intro {
  @include background-image(
    image-url('dc-denver2012.png'),
    radial-gradient(50% 50%, $lightBlue 1%, $darkBlue 30%)
  );
  background-size: 1024px 768px;

  width: 1024px;
  height: 768px;
}

.drupalcon-feedback {
  @include background-image(
    image-url('dc-denver2012-logo.png'),
    radial-gradient(50% 50%, $lightBlue 1%, $darkBlue 30%)
  );
  background-size: 1024px 768px, 1024px 768px;
  width: 1024px;
  height: 768px;

  text-align: center;
  padding: 225px 90px 40px 90px;

  h1 {
    color: $white;
    font: {
      weight: bold;
      size: 3em;
      family: $headlines;
    }
    text-transform: uppercase;
  }

  h2 {
    color: lighten($highlight, 10%);
    font: {
      weight: bold;
      size: 1.5em;
      family: $headlines;
    }
  }
}

.drupalcon-title {
  @include background-image(image-url('dc-denver2012-title-bg.png'));
  background-size: 1025px 768px;

  text-align: center;
  padding: 150px 90px 40px 90px;

  width: 1024px;
  height: 768px;
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  display: none;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border-radius: 10px;
  border: 1px solid #E4C652;
  background: #EEDC94;

  p {
    margin-bottom: 10px;
  }
}

.impress-not-supported {
  .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
  }
  .fallback-message {
    display: block;
  }
}

.page-break  { display:none; }

/* PRINT STYLES */
@media print {
  html { 
    width: 8.5in; 
    height: 11in;
  }
  body { 
    background: white;
  } 

  .step {
    position: relative !important;
    margin: 100px auto !important;
    width: 90%;
    background-position: center center !important;
    background-size: 101% 100%;
    background-repeat: no-repeat;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }

  /* Simple Slideshow Styles */

  .simple-slideshow .step:not(.active) {
    opacity: 1 !important;
    visibility: visible;
    //page-break-after: always;
  }
}