// Variables
//------------------------------------------------------------------------------

// Colors
$text: #787A64;
$bg: #C5C7B6;
$base: #FFFFFF;
$softlight: #00A9A9;
$highlight: #454AA3;


$lightBlue: #0F397D;
$darkBlue: #082049;

// Font Stacks
//------------------------------------------------------------------------------

$headlines: "OSPDIN","Helvetica Neue",Arial,Helvetica,"Lucida Grande",Verdana,sans-serif;
$sans: "Helvetica Neue",Arial,Helvetica,"Lucida Grande",Verdana,sans-serif;
$serif: "Georgia", serif;
$mono: Monaco, monospace, sans-serif;

// Grays
//------------------------------------------------------------------------------
$black: #000;
$grayDark: lighten($black, 25%);
$gray: lighten($black, 50%);
$grayLight: lighten($black, 75%);
$grayLighter: lighten($black, 90%);
$white: #fff;
